{#
/**
 * @file ev_host.html.twig
 * Default theme implementation to present Ev host data.
 *
 * This template is used when viewing Ev host pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_ev_host()
 *
 * @ingroup themeable
 */
#}
<div>sdadsadsdadasdaada22</div>
{{ kint() }}
<div{{ attributes.addClass('ev_host') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>

