{#
/**
 * @file hours.html.twig
 * Default theme implementation to present Hours data.
 *
 * This template is used when viewing Hours pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_hours()
 *
 * @ingroup themeable
 */
#}sdasdasda
<div{{ attributes.addClass('hours') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
